<div class="il-item">
  <img src="https://graph.facebook.com/{{ friend.id }}/picture">
  <div class="il-name">{{ friend.name }}</div>

  <div class="il-spot">
      <input type="checkbox" name="option2" value="a2" class="il-friend">
  </div>
  <div class="il-fb">    
      <div class="btn-group il-friend" data-toggle="buttons-radio">
          <button type="button" class="btn b-fb"><span class="icon-fb"></span></button>
          <button type="button" class="btn b-email"><span class="icon-email"></span></button>
      </div>
  </div>
</div>
